body
{
	padding: 0 !important;
	margin: 0 !important;
	overflow-x: hidden;
}

#todo
{
	padding: 0 !important;
}

#cabecera
{
	position: absolute !important;
	z-index: 1;
	background-color: rgba(255,255,255, .8) !important;
}

.img_slide
{
	width: 100%;
	height: 100vh;
}

#cuadros
{
	width: 100%;
}

#caj_cuadros
{
	position: absolute; !important;
	bottom: 0px;
	z-index: 2;
	/*margin-bottom: 10%;
	z-index: 2;
	margin-top: 51%;*/
}

#contenido
{
	background: linear-gradient(#01A8E0, #0133E0);
	height: 200%;
}

.letras_grandes
{
	color: white;
	font-size: 230%;
}

.cuadros_peque
{
	width: 80%;
}
#bloq_comple
{
	margin-top: 5%;
}

#descripcion
{
	background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.1), rgba(0,0,0,0));
	width: 130%;
    padding-right: 45%;
    padding-top: 10%;
    margin-top: 8%;
    padding-bottom: 10%;
    padding-left: 14%;
}
/*#descripcion
{
	width: 35%;
	margin-left: 5%;
}
#img_descripcion1
{
	width: 30%;
	display: inline;
}*/
#texto_footer
{
	font-size: 80%;
}