body
{
	padding: 0 !important;
	margin: 0 !important;
	overflow-x: hidden;
}

#todo
{
	padding: 0 !important;
}

#cabecera
{
	position: absolute !important;
	z-index: 1;
	background-color: rgba(255,255,255, .8) !important;
}

.img_slide
{
	width: 100%;
	height: 100vh;
}

#cuadros
{
	width: 300vh;
}

#caj_cuadros
{
	position: absolute; !important;
	bottom: 0px;
	z-index: 2;
	/*margin-bottom: 10%;
	z-index: 2;
	margin-top: 51%;*/
}

#contenido
{
	background: linear-gradient(#01A8E0, #0133E0);

}

.letras_grandes
{
	color: white;
	font-size: 5.5vh;
}
.letras_grandes_tablet
{
	color: white;
	font-size: 2.5vh;
}
.espacio{
	padding: 3%
}

.cuadros_peque
{
	width: 80%;
}
#bloq_comple
{
	margin-top: 5%;
}

#descripcion
{
	background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.1), rgba(0,0,0,0));
	width: 130%;
    padding-right: 45%;
    padding-top: 10%;
    margin-top: 8%;
    padding-bottom: 10%;
    padding-left: 14%;
    font-weight: bold;
}
/*#descripcion
{
	width: 35%;
	margin-left: 5%;
}
#img_descripcion1
{
	width: 30%;
	display: inline;
}*/
#texto_footer
{
	font-size: 80%;
}
#fondo_circulos{
	background: url('../recursos/circulos.png') no-repeat center;
	background-size: contain;
	width: 100%;
	height: 100%;
}
#bloque1
{
	border-right: 2px white solid;

}
.bloque_movil
{
	border-top: 2px white solid;
	border-bottom: 2px white solid;

}
#bloque2
{
	border-right: 2px white solid;

}
#bloque_triple
{
	margin-left: 12vh !important;
}
.bloque_triple_tablet
{
	margin-left: 4vh !important;
}
.negrita
{
	font-weight: bold;
}
@keyframes bounce {
    0% { transform: translateY(0%); }   /* Primer fotograma */
    25% { transform: translateY(-20%); }   /* Último fotograma */
	50% {opacity: 0.1;}
	60%{opacity: 1;}
	100%{transform: translateY(0%);}    
}
#mouse{
	animation: bounce 4s ease-in-out infinite;
}